# Copy to .env and fill in values. Required: GOOGLE_API_KEY, CO_API_KEY, DB_URL.

GOOGLE_API_KEY=
CO_API_KEY=
DB_URL=

GROQ_API_KEY=
HF_TOKEN=

QDRANT_URL=
OPENROUTER_API_KEY=
TAVILY_API_KEY=


LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=